@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  font-size: 16px;
  position: relative; }

.content-inner {
  max-width: 1170px;
  margin: 0 auto; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

.question, h2 {
  text-align: center; }

h2 {
  font-size: 5em;
  text-transform: uppercase;
  font-weight: 400; }
  @media all and (min-width: 1920px) {
    h2 {
      font-size: 6em; } }
  @media all and (max-width: 768px) {
    h2 {
      font-size: 3em; } }

.question {
  font-size: 2em;
  color: #c5c5c5;
  font-style: italic; }
  @media all and (max-width: 768px) {
    .question {
      font-size: 1.5em;
      margin-bottom: 8px; } }

.header {
  height: 100vh;
  position: relative;
  background: #0e1352 url(../img/bg-header.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed; }
  .header:after {
    display: block;
    content: '';
    height: 202px;
    width: 100%;
    position: absolute;
    background: url(../img/white-background-header.png) no-repeat center center;
    background-size: cover;
    bottom: -1px; }
  .header .content-inner {
    padding: 0 10px; }
  .header .title-block {
    padding-top: 10vh;
    width: 65%;
    height: 60vh;
    margin: 0 auto;
    background: url(../img/Road_s.png) no-repeat center 90%;
    background-size: 80%;
    color: #ffffff;
    text-align: center; }
    @media all and (max-width: 576px) {
      .header .title-block {
        height: 52vh; } }
    @media all and (max-width: 768px) {
      .header .title-block {
        padding-top: 15vh; } }
    @media all and (max-width: 425px) {
      .header .title-block {
        padding-top: 0; } }
    .header .title-block p {
      font-size: 2em; }
      @media all and (min-width: 1920px) {
        .header .title-block p {
          font-size: 3em; } }
      @media all and (min-width: 3072px) {
        .header .title-block p {
          font-size: 6em; } }
    .header .title-block h1 {
      font-size: 6em; }
      @media all and (min-width: 1920px) {
        .header .title-block h1 {
          font-size: 12em; } }
      @media all and (min-width: 3072px) {
        .header .title-block h1 {
          font-size: 18em; } }
  .header nav {
    height: 113px; }
  .header .fullSize-menu {
    position: relative; }
    @media all and (max-width: 767px) {
      .header .fullSize-menu {
        display: none; } }
    .header .fullSize-menu:before, .header .fullSize-menu:after {
      display: block;
      content: '';
      width: 34%;
      height: 1px;
      background-color: #ffffff;
      position: absolute;
      top: 67px; }
    .header .fullSize-menu:after {
      right: 0; }
    .header .fullSize-menu .menu {
      padding-left: 0;
      padding-top: 25px;
      margin: 0;
      width: 46%; }
      .header .fullSize-menu .menu .menu__item {
        display: inline-block; }
        .header .fullSize-menu .menu .menu__item a {
          display: inline-block;
          color: #fff;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-transition: all 0.4s;
          transition: all 0.4s; }
          .header .fullSize-menu .menu .menu__item a:hover {
            -webkit-transform: scale(1.2);
                    transform: scale(1.2); }
    .header .fullSize-menu .left-part {
      float: left; }
      .header .fullSize-menu .left-part .menu__item {
        margin-right: 11%; }
    .header .fullSize-menu .logo {
      display: block;
      width: 16%;
      position: absolute;
      top: 12px;
      left: 50%;
      -webkit-transform: translateX(-98px);
              transform: translateX(-98px); }
    .header .fullSize-menu .right-part {
      float: right; }
      .header .fullSize-menu .right-part .menu__item {
        margin-left: 11%;
        float: right; }
  .header .shortcut-menu {
    display: none; }
    @media all and (max-width: 767px) {
      .header .shortcut-menu {
        display: block;
        width: 100%;
        height: 15vH;
        padding: 10px 0; } }
    .header .shortcut-menu .logo-sm {
      display: inline-block;
      width: 16%;
      margin-left: 4%;
      float: left; }
      .header .shortcut-menu .logo-sm:hover {
        color: #5598e9; }
    .header .shortcut-menu .icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
      display: inline-block;
      float: right;
      margin-right: 4%; }
      .header .shortcut-menu .icon .hamburger {
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        position: relative;
        top: 23px; }
        .header .shortcut-menu .icon .hamburger:before, .header .shortcut-menu .icon .hamburger:after {
          content: '';
          display: block;
          width: 100%;
          height: 4px;
          background-color: #ffffff;
          position: absolute; }
        .header .shortcut-menu .icon .hamburger:before {
          top: -14px; }
        .header .shortcut-menu .icon .hamburger:after {
          top: 14px; }
    .header .shortcut-menu ul {
      display: none; }
  .header .shortcut-menu.active {
    background: #010d49;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0; }
    .header .shortcut-menu.active li {
      text-align: center; }
      .header .shortcut-menu.active li:hover {
        background: rgba(156, 159, 173, 0.8); }
    @media all and (max-width: 768px) {
      .header .shortcut-menu.active .icon {
        display: inline-block;
        float: right; }
        .header .shortcut-menu.active .icon .hamburger {
          background: transparent; }
          .header .shortcut-menu.active .icon .hamburger:before, .header .shortcut-menu.active .icon .hamburger:after {
            top: 0;
            -webkit-transition: all 0.2s;
            transition: all 0.2s; }
          .header .shortcut-menu.active .icon .hamburger:before {
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg); }
          .header .shortcut-menu.active .icon .hamburger:after {
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
      .header .shortcut-menu.active ul {
        padding: 0;
        display: block;
        width: 100%;
        height: 85vH;
        float: right;
        background: url(../img/bg-header-sm.jpg) no-repeat 50% 50%;
        background-size: cover;
        margin-top: 5px; }
        .header .shortcut-menu.active ul li {
          display: block;
          height: 15%; }
          .header .shortcut-menu.active ul li a {
            text-transform: uppercase;
            display: block;
            line-height: 4em;
            color: #ffffff;
            height: 100%;
            /* margin: 5px; */
            font-size: 1.5em;
            text-decoration: none; } }
  .header .start-booking {
    display: block;
    width: 296px;
    margin: 0 auto;
    text-align: center;
    line-height: 70px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #ffffff;
    border: 1px solid #fff;
    text-decoration: none;
    position: absolute;
    /* top: 53px; */
    bottom: 13%;
    left: 50%;
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    z-index: 2; }
    .header .start-booking:hover {
      background-color: #fff;
      color: #2b3e5e; }

.program {
  position: relative;
  padding-top: 120px;
  height: 1450px;
  background: url("../img/mountain-white.png") no-repeat 100% 100%;
  background-size: contain; }
  @media all and (min-width: 1920px) {
    .program {
      height: 1520px; } }
  @media all and (max-width: 992px) {
    .program {
      height: 1325px; } }
  @media all and (max-width: 768px) {
    .program {
      height: 1130px; } }
  @media all and (max-width: 575px) {
    .program {
      height: 1240px; } }
  @media all and (max-width: 476px) {
    .program {
      height: 1300px; } }
  .program .slider-wrapper {
    position: relative; }
    .program .slider-wrapper .slider {
      margin: 10px 0; }
      .program .slider-wrapper .slider .slick-track {
        padding: 165px 56px; }
        @media all and (max-width: 1200px) {
          .program .slider-wrapper .slider .slick-track {
            padding: 210px 74px 165px; } }
        @media all and (max-width: 992px) {
          .program .slider-wrapper .slider .slick-track {
            padding: 145px 58px 136px; } }
        @media all and (max-width: 768px) {
          .program .slider-wrapper .slider .slick-track {
            padding: 110px 53px; } }
        @media all and (max-width: 576px) {
          .program .slider-wrapper .slider .slick-track {
            padding: 110px 22px; } }
        @media all and (max-width: 425px) {
          .program .slider-wrapper .slider .slick-track {
            padding: 110px 180px; } }
        @media all and (max-width: 375px) {
          .program .slider-wrapper .slider .slick-track {
            padding: 110px 141px; } }
      .program .slider-wrapper .slider .slide__item {
        height: 100%;
        outline: none; }
        .program .slider-wrapper .slider .slide__item.slick-center {
          -webkit-transform: scale(1.65) translateX(7%);
                  transform: scale(1.65) translateX(7%);
          -webkit-transition: all 0.6s;
          transition: all 0.6s; }
        .program .slider-wrapper .slider .slide__item .img-wrapper {
          position: relative;
          z-index: -1;
          display: inline-block;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          -webkit-transform-origin: center center;
                  transform-origin: center center;
          width: 240px;
          overflow: hidden; }
          @media all and (max-width: 992px) {
            .program .slider-wrapper .slider .slide__item .img-wrapper {
              width: 215px; } }
          @media all and (max-width: 768px) {
            .program .slider-wrapper .slider .slide__item .img-wrapper {
              width: 150px; } }
          .program .slider-wrapper .slider .slide__item .img-wrapper img {
            max-width: 100%;
            -webkit-transform: rotate(-45deg) scale(1.42);
                    transform: rotate(-45deg) scale(1.42);
            -webkit-transform-origin: center center;
                    transform-origin: center center; }
      .program .slider-wrapper .slider .prev-p, .program .slider-wrapper .slider .next-p {
        position: absolute;
        top: 45%;
        cursor: pointer;
        z-index: 5; }
        @media all and (max-width: 1200px) {
          .program .slider-wrapper .slider .prev-p, .program .slider-wrapper .slider .next-p {
            top: 49%; } }
        @media all and (max-width: 992px) {
          .program .slider-wrapper .slider .prev-p, .program .slider-wrapper .slider .next-p {
            top: 45%; } }
        @media all and (max-width: 768px) {
          .program .slider-wrapper .slider .prev-p, .program .slider-wrapper .slider .next-p {
            top: 42%; } }
        @media all and (max-width: 375px) {
          .program .slider-wrapper .slider .prev-p, .program .slider-wrapper .slider .next-p {
            top: 41%; } }
      .program .slider-wrapper .slider .prev-p {
        left: -2%; }
        @media all and (max-width: 1200px) {
          .program .slider-wrapper .slider .prev-p {
            left: 0; } }
      .program .slider-wrapper .slider .next-p {
        right: 1%; }
        @media all and (max-width: 1200px) {
          .program .slider-wrapper .slider .next-p {
            right: 0; } }
  .program .program__describe {
    font-size: 1.2em;
    color: #c5c5c5;
    text-indent: 25px; }
  .program .program__describe-bottom {
    margin-top: 120px; }
    @media all and (max-width: 991px) {
      .program .program__describe-bottom {
        margin-top: 15px; } }

.challenge {
  margin-top: -23.5vw;
  width: 100%;
  height: 1055px;
  background: url("../img/ev.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed; }
  @media all and (min-width: 1920px) {
    .challenge {
      height: 71vw;
      margin-top: -24vw; } }
  @media all and (max-width: 992px) {
    .challenge {
      height: 900px; } }
  @media all and (max-width: 768px) {
    .challenge {
      height: 700px; } }
  @media all and (max-width: 576px) {
    .challenge {
      height: 500px; } }
  @media all and (max-width: 425px) {
    .challenge {
      height: auto; } }
  .challenge .white {
    width: 100%;
    height: 100%;
    background-image: url(../img/white-background.png);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover; }
    @media all and (max-width: 425px) {
      .challenge .white {
        background-image: none; } }
    .challenge .white .content-inner {
      padding: 19% 0 5%;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      height: 100%;
      color: #ffffff; }
      .challenge .white .content-inner .circle-wrapper {
        margin-top: 70px; }
        @media all and (min-width: 1920px) {
          .challenge .white .content-inner .circle-wrapper {
            margin-top: 140px; } }
        @media all and (max-width: 576px) {
          .challenge .white .content-inner .circle-wrapper {
            margin-top: 15px; } }
        .challenge .white .content-inner .circle-wrapper .circle {
          width: 170px;
          height: 170px;
          margin: 0 auto;
          border-radius: 50%;
          border: 4px solid #ffffff;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          position: relative;
          padding: 10%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; }
          @media all and (max-width: 768px) {
            .challenge .white .content-inner .circle-wrapper .circle {
              width: 100px;
              height: 100px;
              border-width: 2px; } }
          .challenge .white .content-inner .circle-wrapper .circle:before {
            position: absolute;
            display: block;
            content: '';
            width: 93%;
            height: 93%;
            border-radius: 50%;
            border: 2px solid #ffffff;
            top: 5px;
            left: 5px; }
            @media all and (max-width: 768px) {
              .challenge .white .content-inner .circle-wrapper .circle:before {
                top: 3px;
                left: 3px;
                border-width: 1px; } }
          .challenge .white .content-inner .circle-wrapper .circle:after {
            position: absolute;
            display: block;
            content: '';
            width: 115%;
            height: 115%;
            border-radius: 50%;
            border: 2px solid #ffffff;
            top: -12px;
            left: -12px; }
            @media all and (max-width: 768px) {
              .challenge .white .content-inner .circle-wrapper .circle:after {
                top: -7px;
                left: -7px;
                border-width: 1px; } }
          .challenge .white .content-inner .circle-wrapper .circle span {
            font-size: 2.5em;
            -ms-flex-item-align: center;
                align-self: center; }
            @media all and (max-width: 769px) {
              .challenge .white .content-inner .circle-wrapper .circle span {
                font-size: 1.5em; } }
            .challenge .white .content-inner .circle-wrapper .circle span.spincrement {
              margin-right: 7px; }
        .challenge .white .content-inner .circle-wrapper h5 {
          margin-top: 20px;
          font-size: 1.5em;
          font-weight: 400;
          font-style: italic;
          text-align: center; }
          @media all and (max-width: 576px) {
            .challenge .white .content-inner .circle-wrapper h5 {
              font-size: 0.9em; } }

.team {
  background: url(../img/mountain-white-team.png) no-repeat 50% 70%;
  background-size: contain; }
  @media all and (max-width: 768px) {
    .team {
      height: 650px; } }
  .team .slider-wrapper {
    position: relative; }
    .team .slider-wrapper .slider-team {
      margin: 10px 0; }
      .team .slider-wrapper .slider-team .slick-track {
        padding: 210px 56px 165px; }
        @media all and (max-width: 1200px) {
          .team .slider-wrapper .slider-team .slick-track {
            padding: 210px 74px 165px; } }
        @media all and (max-width: 992px) {
          .team .slider-wrapper .slider-team .slick-track {
            padding: 145px 58px 136px; } }
        @media all and (max-width: 768px) {
          .team .slider-wrapper .slider-team .slick-track {
            padding: 110px 53px; } }
        @media all and (max-width: 576px) {
          .team .slider-wrapper .slider-team .slick-track {
            padding: 110px 22px; } }
        @media all and (max-width: 426px) {
          .team .slider-wrapper .slider-team .slick-track {
            padding: 110px 6px; } }
        @media all and (max-width: 375px) {
          .team .slider-wrapper .slider-team .slick-track {
            padding-right: 0;
            padding-left: 0; } }
      .team .slider-wrapper .slider-team .slide-team__item {
        height: 100%;
        outline: none; }
        .team .slider-wrapper .slider-team .slide-team__item.slick-center {
          -webkit-transform: scale(1.65) translateX(7%);
                  transform: scale(1.65) translateX(7%);
          -webkit-transition: all 0.6s;
          transition: all 0.6s; }
        .team .slider-wrapper .slider-team .slide-team__item .img-wrapper {
          position: relative;
          z-index: -1;
          display: inline-block;
          -webkit-transform: rotate(45deg);
                  transform: rotate(45deg);
          -webkit-transform-origin: center center;
                  transform-origin: center center;
          width: 240px;
          overflow: hidden;
          border: 2px solid #939393;
          -webkit-box-sizing: border-box;
                  box-sizing: border-box; }
          @media all and (max-width: 992px) {
            .team .slider-wrapper .slider-team .slide-team__item .img-wrapper {
              width: 215px; } }
          @media all and (max-width: 768px) {
            .team .slider-wrapper .slider-team .slide-team__item .img-wrapper {
              width: 150px; } }
          .team .slider-wrapper .slider-team .slide-team__item .img-wrapper img {
            max-width: 100%;
            -webkit-transform: rotate(-45deg) scale(1.42);
                    transform: rotate(-45deg) scale(1.42);
            -webkit-transform-origin: center center;
                    transform-origin: center center; }
      .team .slider-wrapper .slider-team .prev, .team .slider-wrapper .slider-team .next {
        position: absolute;
        top: 49%;
        cursor: pointer; }
        @media all and (max-width: 992px) {
          .team .slider-wrapper .slider-team .prev, .team .slider-wrapper .slider-team .next {
            top: 45%; } }
        @media all and (max-width: 768px) {
          .team .slider-wrapper .slider-team .prev, .team .slider-wrapper .slider-team .next {
            top: 43%; } }
      .team .slider-wrapper .slider-team .prev {
        left: -2%; }
        @media all and (max-width: 1200px) {
          .team .slider-wrapper .slider-team .prev {
            left: 0; } }
      .team .slider-wrapper .slider-team .next {
        right: 1%; }
        @media all and (max-width: 1200px) {
          .team .slider-wrapper .slider-team .next {
            right: 0; } }
  .team .text {
    width: 50%;
    margin: 0 auto; }
    @media all and (max-width: 425px) {
      .team .text {
        width: 90%; } }
    .team .text .slick-track {
      padding: 0 5px; }
    .team .text .otz-sl {
      width: 90%; }
      @media all and (max-width: 425px) {
        .team .text .otz-sl.slick-slide.slick-current.slick-active {
          width: 350px !important; } }
    .team .text h4 {
      color: #f2d251;
      font-size: 3em;
      text-align: center;
      margin: 3% 0;
      font-style: italic; }
    .team .text span {
      text-align: justify;
      color: #939393; }
      @media all and (min-width: 1920px) {
        .team .text span {
          font-size: 1.2em; } }

.review {
  width: 100%;
  margin-top: 50px;
  background: url("../img/ev-rev.jpg") no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  color: #ffffff;
  position: relative; }
  .review .white-rev {
    width: 100%;
    height: 100%;
    background: url(../img/white-background-revers.png) no-repeat 50% 0;
    background-size: cover;
    padding-top: 225px;
    padding-bottom: 240px; }
    .review .white-rev .question {
      margin-top: 10%; }
      @media all and (max-width: 768px) {
        .review .white-rev .question {
          margin-top: 0; } }
    @media all and (max-width: 576px) {
      .review .white-rev {
        padding-bottom: 170px; } }
  .review .m-top {
    margin-top: -15%; }
    @media all and (max-width: 992px) {
      .review .m-top {
        margin-top: 0; } }
  .review .comment {
    padding: 5px 5px 5px 25px;
    border-left: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 10px; }
    @media all and (min-width: 1920px) {
      .review .comment {
        font-size: 1.5em; } }
    @media all and (max-width: 992px) {
      .review .comment {
        border-left: none;
        margin-bottom: 5px;
        font-size: 0.9em;
        padding: 5px; } }
  @media all and (max-width: 992px) {
    .review h3 {
      text-align: center; } }
  @media all and (max-width: 992px) {
    .review .client {
      text-align: right; } }
  .review .client__wrapper-img {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-right: 15px; }
    @media all and (max-width: 992px) {
      .review .client__wrapper-img {
        display: none; } }
  .review .client__img {
    height: 100%;
    width: 100%;
    border-radius: 50%; }
  @media all and (max-width: 768px) {
    .review .client__name {
      margin-right: 100px; } }

.booking {
  padding: 10px 0 40px; }
  .booking .form {
    width: 80%;
    margin: 55px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media all and (max-width: 768px) {
      .booking .form {
        display: block; } }
    .booking .form .form__input {
      width: 35%;
      height: 70px;
      padding: 10px;
      border: 2px solid #aaaaaa;
      outline: #182a44; }
      @media all and (max-width: 768px) {
        .booking .form .form__input {
          display: block;
          width: 90%;
          margin: 0 auto;
          margin-bottom: 20px; } }
    .booking .form .form__button {
      padding: 0 20px;
      line-height: 70px;
      color: #ffffff;
      background-color: #182a44;
      border: none;
      outline: none; }
      @media all and (max-width: 768px) {
        .booking .form .form__button {
          display: block;
          width: 50%;
          margin: 0 auto; } }
      .booking .form .form__button:hover {
        background-color: #aaaaaa;
        color: #182a44; }
  .booking .social__title {
    color: #aaaaaa;
    text-transform: uppercase;
    text-align: center; }
  .booking .social {
    width: 60%;
    margin: 0 auto;
    text-align: center; }
    .booking .social .social__link {
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 1px solid #aaaaaa;
      background: transparent;
      padding: 10px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin: 0 10px; }
      .booking .social .social__link .social__icon {
        width: 100%;
        height: 100%;
        fill: #aaaaaa; }
      .booking .social .social__link:hover {
        border-color: #182a44; }
        .booking .social .social__link:hover .social__icon {
          fill: #182a44; }

.footer {
  border-top: 2px solid #aaaaaa;
  padding: 40px 0;
  text-align: center;
  color: #aaaaaa; }

.top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../img/up.png") 50% 40% no-repeat;
  position: fixed;
  bottom: 160px;
  right: 18px;
  cursor: pointer;
  display: none;
  z-index: 1; }